<ul>
    <li>
        <a routerLink="products">products</a>
    </li>
    <li>
        <a routerLink="checkout">checkout</a>
    </li>
<li>
    <a routerLink="dashboard">dashboard</a>
</li>
</ul>
<app-dashboard></app-dashboard>
<!-- <app-creaters></app-creaters>
<app-stories></app-stories>
<app-series></app-series>
<app-events></app-events>
<app-comics></app-comics>
<app-characters></app-characters>
<app-forms></app-forms>
<app-test></app-test>
<app-data-binding></app-data-binding>
<app-checkout></app-checkout> -->
<router-outlet></router-outlet>
